.carousel
{
 background-image: url('images/bg.jpg');
}
.jumbotron
{
    background-image: url('images/bg1.webp');
   
   }
   
.card-deck
{
    margin-left: 50px;
    margin-right: 50px;
}
.footer
{
    background-color: antiquewhite;
    padding: 10px;
}